* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inria Serif', serif;
  background-color: #fbab7e;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 2.4rem;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .countdown {
    gap: 2rem;
  }

  .day,
  .hour,
  .minute,
  .second {
    font-size: 1.8rem;
  }
}
